body{
  background: linear-gradient(to right, #268d92, #9d5df0, #268d92)}

h1{
  border-bottom: 5px solid #e2e2e2;
  text-align: center;
  color: #2d86a9;
  padding: 15px;
  margin: 0;
}

#container{
  border: 5px solid #e2e2e2;
  border-radius: 5px;
  width: 360px;
  margin: 0 auto;
  margin-top: 25vh;
  background: #b09ae1;
}

input{
    width: 100%;
    height: 4vh;
    background: #ffffff6e;
    border: none;
    text-align: center;

}

ul{
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

li{
  line-height: 35px;
}

li:nth-child(odd){
  background: #278d9354;
}

.material-icons{
  vertical-align: sub;
  color: #bb1414;
  -webkit-transition: margin .25s; /* Safari */
  transition: margin .55s;
}

.material-icons:hover{
  margin: 0 20px;
}

.completed{
  color: gray;
  text-decoration: line-through;
}

.fa, .fas {
    font-weight: 900;
    width: 23px;
    background: white;
    border-radius: 20px;
    height: 23px;
    /* text-align: center; */
    position: flex;
    display: grid;
    place-items: center;
}
