body{
  background: linear-gradient(to right, #268d92, #9d5df0, #268d92)}

h1{
  border-bottom: 5px solid #e2e2e2;
  text-align: center;
  color: #2d86a9;
  padding: 15px;
  margin: 0;
}

#container{
  border: 5px solid #e2e2e2;
  border-radius: 5px;
  width: 360px;
  margin: 0 auto;
  margin-top: 25vh;
  background: #b09ae1;
  box-shadow: 0 0px 4px #f30aec;
}

input{
    width: 100%;
    height: 4vh;
    background: #ffffff6e;
    border: none;
    text-align: center;
    color: #9b5dee;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}

ul{
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

li{
  line-height: 40px;
  vertical-align: sub;
}
li:nth-child(odd){
  background: #278d9354;
}

span{
  height: 40px;
  width: 0;
  margin-right: 20px;
  vertical-align: -webkit-baseline-middle;
  text-align: center;
  color: #bb1414;
  display: inline-block;
  visibility: collapse;
  transition: .2s linear;
}

li:hover span{
  width: 40px;
  visibility: visible;
}

.completed{
  color: gray;
  text-decoration: line-through;
}
