*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

body{
  background: #544e4e;
  min-width: 600px;
}

#header{
  background: #2b9dd6;
  color: #fafafa;
  text-align: center;
  font-size: 2em;
}

#rgb{
  text-transform: uppercase;
}

.options{
  background: #fafafa;
  text-align: center;
  margin-bottom: 40px;
  height: 30px;
}

button{
  background: #fafafa;
  border: none;
  font-size: 1em;
  font-weight: 600;
  color: #544e4e;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 100%;
}

.selected{
  transition: background 3s;
  background: #544e4e;
  color: #fafafa;
}

#message{
  font-weight: 600;
  color: #544e4e;
  text-transform: uppercase;
  display: inline-block;
  width: 20%;
}

.colors{
  max-width: 600px;
  margin:0 auto;
}

.square{
  width: 30%;
  background: red;
  border-radius: 10%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  transition: background .75s;
}
