*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #544e4e;
}

.head{
  background: #2b9dd6;
  color: #fafafa;
  text-align: center;
  font-size: 2em;
}

#rgb{
  text-transform: uppercase;
}

.options{
  height: 5vh;
  background: #fafafa;
  padding: .5vh;
  text-align: center;
}

#newColors{
  padding: 10px;
  background: #fafafa;
  border: none;
  color: #544e4e;
  font-size: 1em;
  font-weight: 600;
}

#newColors:hover{
  background: #2b9dd6;
  border: 2px solid white;
  color: #fafafa;
}

#message{
  font-weight: 600;
  color: #544e4e;
  padding: 0 280px;
  text-transform: uppercase;
}

.difficulty{
  margin-bottom: 1%;
}

#easy, #hard{
  padding: 10px;
  background: white;
  border: none;
  color: #544e4e;
  font-size: 1em;
  font-weight: 600;
}

#easy, #hard:hover{
  background: #2b9dd6;
  border: 2px solid white;
  color: #fafafa;
}

.colors{
  max-width: 600px;
  margin:0 auto;
}

.square{
  width: 30%;
  background: red;
  border-radius: 10%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}
